<% provide(:title, 'PageMaker') %>


<h1>PageMaker</h1>
<h4 class="center topspace20">
    Welcome to PageMaker. Use the menu bar above to create new 'linked data' web pages to document HIE resources. 
</h4>
