<% provide(:title, 'HIE Metadata Pages') %>


<h1>HIE Metadata Pages</h1>
<h4 class="center topspace20">
    Welcome to the Metatdata Pages for the Hawkesbury Institute for the Environment at the University of Western Sydney. 
</h4>
