<div class="center hero-unit">
  <h1>HIE Data Management</h1>
  <h2>
    Welcome to the Data Pages for the Hawkesbury Institute for the Environment at the University of Western Sydney. 
  </h2>
</div>

<div class="panel panel-default">
  <div class="panel-body">
  	<div class="row">
      <div class="span9">
        Find out about Data at HIE and how you, as a HIE researcher, can manage your data in a efficient and responsible manner
      </div>
      <div class="span3"> 
        <%= link_to "Data Management at HIE", 'data-management', class: "btn btn-primary" %>
      </div>  
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
  	<div class="row">
      <div class="span9">
        Get an overview of current data status at HIE
      </div>
      <div class="span3"> 
        <%= link_to "Data Dashboard", 'data-dashboard', class: "btn btn-primary" %>
      </div>  
  </div>
</div>
