<nav class="navbar navbar-default" role="navigation" id="minibar">
  <div class="container">
    <div class="navbar-collapse" id="bs-example-navbar-collapse-2">
	    <ul class="nav navbar-nav">
	      <%= render 'layouts/minibar_links' %>
	    </ul>
	</div>
  </div>
</nav>